/* Login Container */
.login-container {
  background-image: url('background12.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000000; /* Ensure the text is visible on the background */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;    /* Center horizontally */
  min-height: 100vh;      /* Ensure full screen height */
  margin: 0;              /* Remove default body margin */
}

/* Header */
.login-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #4caf50;
}

/* Labels */
.login-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

/* Input Fields */
.login-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0066ff;
  border-radius: 5px;
  font-size: 1em;
}

/* Submit Button */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #388e3c;
}
